# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user

# 빌드된 파일
Debug/
Release/
x64/
x86/

# 운영체제 파일
Thumbs.db
.DS_Store
